---
layout: page
title: 博客
tagline: 博客
header: Pages
description: 所有文章列表. 冯智超的个人网站, 博客. 关注前端开发, 网页设计, 网站开发, HTML, HTML5, Javascript, CSS, CSS3, 新特性与教程.
---
{% include JB/setup %}

{% include views/blog_pagination.html %}

{% for post in paginator.posts %}
<div class="article">
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p class="author">
      Feng Zhichao @ <span class="date">{{ post.date | date_to_long_string }}</span>
    </p>
    <div class="content post-content">
    {% if post.content contains "<!-- more -->" %}
      {{ post.content | split:"<!-- more -->" | first % }}
    {% else %}
      {{ post.content | truncatewords:80 }}
    {% endif %}
    </div>
    <div class="read-more">
      <a href="{{ post.url }}">Read More &gt;&gt;&gt;</a>
    </div>
</div>
{% endfor %}

{% include views/blog_pagination.html %}