---
layout: page
title: photo
tagline: 照片
header: Pages
group: navigation
---
{% include JB/setup %}

<ul class="photo thumbnails">
{% instagram accesstokenpath:instagram %}
  <li class="item">
    <div class="thumbnail">
      <a href="{{ item.link }}" alt="{{ item.caption.text }}">
        <img title="{{ item.caption.text }}" src="{{ item.images.low_resolution.url }}" width="130" height="130" data-image="{{ item.images.standard_resolution.url }}" />
      </a>
      {% if item.caption.text %}<p>{{ item.caption.text }}</p>{% endif %}
      <p>{{ item.readable_created_time }}</p>
      {% if item.location.name %}<p>@{{ item.location.name }}</p>{% endif %}
      {% if item.likes.count != 0 %}<p>{{ item.likes.count }} likes</p>{% endif %}
      {% if item.comments.count != 0 %}<p>{{ item.comments.count }} comments</p>{% endif %}
    </div>
  </li>
{% endinstagram %}
</ul>

<div id="modalBox" class="modal" style="display: none">
  <div class="modal-header">
    <button class="close" data-dismiss="modal">×</button>
    <h4 class="modal-title">Modal header</h4>
  </div>
  <div class="modal-body">
    <img id="modalImage" src="" title="" />
  </div>
</div>

<script type="text/javascript" src="/assets/javascripts/jquery.masonry.min.js"></script>
<script type="text/javascript">
  $(function () {
    if (screen.width <= 320) {
      return;
    }

    var $container = $('.photo');
    $container.imagesLoaded( function(){
      $container.masonry({
        itemSelector : '.item'
      });
    });

    var popModal = function(title, image) {
      $('#modalBox .modal-title').text(title);
      $('#modalImage').attr({'src': image, 'title': title });
      $('#modalBox').modal();
    };

    $('.item a').click(function (e) {
      e.preventDefault();
      $(this).tooltip('hide');

      popModal($(this).attr('alt') || 'untitled',
        $('img', this).attr('data-image'))
    });
  });
</script>