<div class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="navbar-container">
      <a href="{{ HOME_PATH }}">
        <img class="avatar" src="{{ HOME_PATH }}images/site/fengzhichao-avatar.jpg" />
      </a>
      <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
      <ul class="nav">
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include JB/pages_list %}
      </ul>
      <ul class="socials">
        <li><a class="twitter" target="_blank" title="twitter" href="https://twitter.com/fengzhichao">twitter</a></li>
        <li><a class="facebook" target="_blank" title="facebook" href="http://www.facebook.com/fengzhichao">facebook</a></li>
        <li><a class="github" target="_blank" title="github" href="https://github.com/flanker">github</a></li>
        <li><a class="youtube" target="_blank" title="youtube" href="http://www.youtube.com/flankerfc">youtube</a></li>
      </ul>
    </div>
  </div>
</div>