<div class="navbar navbar-top">
  <div class="navbar-inner">
    <div class="navbar-container">
      <a href="{{ HOME_PATH }}">
        <img class="avatar" alt="Feng Zhichao" title="Feng Zhichao" src="{{ site.static_url }}/images/site/fengzhichao-avatar.jpg" />
      </a>
      <ul class="nav">
        {% assign pages_list = site.pages %}
        {% assign group = 'navigation' %}
        {% include views/navbar_links.html %}
      </ul>
      <ul class="socials">
        <li><a class="twitter" target="_blank" title="twitter" href="https://twitter.com/fengzhichao">twitter</a></li>
        <li><a class="facebook" target="_blank" title="facebook" href="http://www.facebook.com/fengzhichao">facebook</a></li>
        <li><a class="github" target="_blank" title="github" href="https://github.com/flanker">github</a></li>
        <li><a class="youtube" target="_blank" title="youtube" href="http://www.youtube.com/flankerfc">youtube</a></li>
      </ul>
    </div>
  </div>
</div>