<li>
  <a title="首页" href="/" class="fancy-link">
    <span class="fancy-link-inner">
      <span class="fancy-link-item">home</span>
      <span class="fancy-link-item fancy-link-item-hidden">首</span>
    </span>
  </a>
</li>
<li>
  <a title="文章" href="/blog.html" class="fancy-link">
    <span class="fancy-link-inner">
      <span class="fancy-link-item">blog</span>
      <span class="fancy-link-item fancy-link-item-hidden">文</span>
    </span>
  </a>
</li>
<li>
  <a title="照片" href="/photo.html" class="fancy-link">
    <span class="fancy-link-inner">
      <span class="fancy-link-item">photo</span>
      <span class="fancy-link-item fancy-link-item-hidden">图</span>
    </span>
  </a>
</li>
