* {
  margin: 0;
  padding: 0;
}
html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: Helvetica Neue, Arial, Helvetica, sans-serif;
}
.wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.logo {
  position: absolute;
  left: -1000px;
  top: -1000px;
  img {
    width: 300px;
    max-width: 300px;
  }
}
.poster {
  background-color: black;
  background-image: url(/images/movies/ant-man.jpg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.swipe-hint {
  position: absolute;
  left: 50%;
  bottom: 200px;
  text-align: center;
  width: 80%;
  background-color: rgba(255, 255, 255, 0.4);
  margin-left: -40%;
  padding: 10px 0;
  border-radius: 8px;

  span {
    font-size: 1.5em;
    background: -webkit-gradient(linear, left top, right top, color-stop(0, #4d4d4d), color-stop(0.4, #4d4d4d), color-stop(0.5, white), color-stop(0.6, #4d4d4d), color-stop(1, #4d4d4d));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: slidetounlock 5s linear infinite;
  }
}
@-webkit-keyframes slidetounlock {
  0% {
    background-position: 420px 0;
  }
  100%{
    background-position: -420px 0;
  }
}
.movie-info {
  box-sizing: border-box;
  position: absolute;
  bottom: -80px;
  left: 0;
  height: 80px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 10px;
  color: #f4f4f4;
  transition: bottom 1s;

  .name {
    display: inline-block;
    font-size: 1.5em;
    margin: 0px;
  }
  .year {
    display: inline-block;
    font-size: 0.8em;
    padding-left: 10px;
  }
  .tagline {
    padding-top: 5px;
    font-size: 0.8em;
  }
}

@media (min-width: 569px) {
  .poster {
    background-size: contain;
  }
}
