---
name : style-iphone.scss
---

@media (min-width: 569px) {

  .navbar-top .navbar-inner .navbar-container {

    .fancy-link {
      margin: 20px 5px;
      padding: 0 10px;
      line-height: 30px;
      background: rgba(100, 100, 100, .2);
      height: 30px;
      overflow: hidden;
      position: relative;
      width: 140px;

      .fancy-link-inner {
        display: block;
        position: absolute;
        width: 140px;
        text-align: center;
        top: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &:hover {
          top: -30px;
        }

        .fancy-link-item {
          display: block;
        }
      }
    }

    .brand.fancy-link {
      margin-left: 0;
      width: 140px;
      .fancy-link-inner {
        width: 140px;
      }
    }

    .nav .fancy-link {
      width: 50px;
      .fancy-link-inner {
        width: 50px;
      }
    }
  }

  .home {

    .about {
      box-shadow: 1px 1px 40px 3px black;
      position: relative;
      z-index: 9999;
    }
    .timeline {
      overflow: hidden;
      margin-bottom: 0;
    }
    .timeline-inner {
      position: relative;
      height: 350px;
      margin-top: 100px;
    }
    .timeline-tag {
      height: 400px;
      width: 300px;
      position: absolute;
      left: 50%;
      text-align: center;
      box-sizing: border-box;
      padding: 30px;
      box-shadow: 0 0 50px 1px black;
      margin-left: -200px;
      top: 0;

      -webkit-transform-origin: 50% 250%;
      -moz-transform-origin: 50% 250%;
      -o-transform-origin: 50% 250%;
      -ms-transform-origin: 50% 250%;
      transform-origin: 50% 250%;

      -webkit-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
      -o-transition: all 2s ease-in-out;
      -ms-transition: all 2s ease-in-out;
      transition: all 2s ease-in-out;

      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);

      h2 {
        margin-bottom: 30px;
      }
      span {
        text-shadow: 1px 1px 1px black;
      }
    }

    .timeline-tag0 {
      background-color: #3bc1ed;
    }
    .timeline-tag1 {
      background-color: #ed673b;
    }
    .timeline-tag2 {
      background-color: #3bed67;
    }
    .timeline-tag3 {
      background-color: #ed3b68;
    }
    .timeline-tag4 {
      background-color: #ed3bc1;
    }
    .timeline-tag5 {
      background-color: #c1ed3b;
    }
    .timeline-tag6 {
      background-color: #3b68ed;
    }
    .timeline-tag7 {
      background-color: #edc03b;
    }
  }

}