---
name : style-iphone.scss
---

@media (max-width: 568px) {

  img, object {
    width: auto;
  }
  .slideshare iframe {
    width: auto;
    height: auto;
  }
  footer p {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-family: 'Ubuntu', Tahoma, sans-serif;
  }
  .home .navbar-top,
  .navbar-top {
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    margin: 0;
    top: 0;
  }

  .navbar-top .navbar-inner {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    background-color: #2a333c;
    min-height: 40px;
    width: 100%;
    padding: 0;

    .navbar-container {
      width: auto;
      margin: 0 10px;

      .avatar {
        height: 30px;
        width: 30px;
        margin: 5px;
        margin-left: 0;
        -webkit-border-radius: 15px;
        border-radius: 15px;
      }
      .brand {
        font-size: 20px;
        padding: 0;
        margin: 0;
        line-height: 40px;
      }
      .nav > li > a {
        font-size: 16px;
        padding: 0;
        margin: 0;
        margin-left: 16px;
        line-height: 40px;
      }
      .socials {
        display: none;
      }
    }
  }

  .page-container {
    width: 100%;
    margin: 0;
    margin-top: 41px;
    word-wrap: break-word;
    overflow: hidden;

    h1 {
      font-size: 28px;
      line-height: 32px;
    }
    h2 {
      font-size: 22px;
      line-height: 28px;
    }
  }

  .hero-box .hero-box-inner {
    width: auto;
    padding: 0 10px;
  }
  .start {
    background: url({{ site.static_url }}/images/site/fengzhichao-jumping-iphone.jpg) no-repeat center;
    height: 480px;
    background-size: 320px 480px;

    .start-inner {
      width: 100%;
      margin-top: 250px;

      .welcome-message {
        padding: 0 10px;
        color: #ece9d7;
      }
    }
  }
  .timeline {
    margin: 10px auto;
  }
  .about {
    background: url({{ site.static_url }}/images/site/my-macbook-iphone.jpg) no-repeat center;
    height: 480px;
    background-size: 320px 480px;

    .about-inner {
      padding: 0;

      .about-message {
        margin: 100px 0 0 0;
      }
    }
  }
  .recent {
    font-size: 18px;
  }

  .blog-container {
    width: auto;

    .blog-container-inner {
      margin-left: 10px;
      margin-right: 10px;

      .article {
        padding: 0 0 20px;
        margin-bottom: 20px;
        background: none;
      }

      .blog-header {
        padding-bottom: 0;
        margin: 10px 0 10px;
      }
      .blog-metadata {
        float: none;
        width: auto;
        margin-left: 0;
        font-family: 'Ubuntu', Tahoma, sans-serif;

        .tag_box {
          display: inline-block;
          li {
            display: inline-block;
          }
        }

      }
      .blog-content {
        float: none;
        width: auto;
        margin-left: 0;
      }
    }
  }

  .photo {
    margin: 10px 0;

    .item {
      float: none;
      width: auto;
      margin-left: 0;

      .thumbnail img {
        width: auto;
        height: auto;
      }
      a {
        display: block;
        text-align: center;
      }
    }
  }
}