---
name : style-iphone.scss
---

@media (min-width: 569px) {

  .navbar-top .navbar-inner .navbar-container {

    .fancy-link {
      margin: 20px 5px;
      padding: 0 10px;
      line-height: 30px;
      background: rgba(100, 100, 100, .2);
      height: 30px;
      overflow: hidden;
      position: relative;
      width: 140px;

      .fancy-link-inner {
        display: block;
        position: absolute;
        width: 140px;
        text-align: center;
        top: 0;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;

        &:hover {
          top: -30px;
        }

        .fancy-link-item {
          display: block;
        }
      }
    }

    .brand.fancy-link {
      margin-left: 0;
      width: 140px;
      .fancy-link-inner {
        width: 140px;
      }
    }

    .nav .fancy-link {
      width: 50px;
      .fancy-link-inner {
        width: 50px;
      }
    }
  }

  .home {

    .about {
      box-shadow: 1px 1px 40px 3px black;
      position: relative;
      z-index: 9999;
    }
    .timeline {
      overflow: hidden;
      margin-bottom: 0;
    }
    .timeline-inner {
      position: relative;
      height: 350px;
      margin-top: 100px;
    }
    .timeline-tag {
      height: 400px;
      width: 300px;
      position: absolute;
      left: 50%;
      text-align: center;
      box-sizing: border-box;
      padding: 30px;
      box-shadow: 0 0 50px 1px black;
      margin-left: -200px;
      top: 0;

      -webkit-transform-origin: 50% 250%;
      -moz-transform-origin: 50% 250%;
      -o-transform-origin: 50% 250%;
      -ms-transform-origin: 50% 250%;
      transform-origin: 50% 250%;

      -webkit-transition: all 2s ease-in-out;
      -moz-transition: all 2s ease-in-out;
      -o-transition: all 2s ease-in-out;
      -ms-transition: all 2s ease-in-out;
      transition: all 2s ease-in-out;

      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);

      h2 {
        margin-bottom: 30px;
      }
      span {
        text-shadow: 1px 1px 1px black;
      }
    }

    .timeline-tag h2,
    .timeline-tag span {
      text-shadow: none;
    }

    .timeline-tag0 {
      background-color: #6BC4CA;
      h2, span {
        color: #693E3E;
      }
    }
    .timeline-tag1 {
      background-color: #333C4D;
      h2, span {
        color: #6BC4CA;
      }
    }
    .timeline-tag2 {
      background-color: #517AC0;
      h2, span {
        color: #333C4D;
      }
    }
    .timeline-tag3 {
      background-color: #B65D87;
      h2, span {
        color: #EEE;
      }
    }

    .timeline-tag4 {
      background-color: #38282C;
      h2, span {
        color: #B65D87;
      }
    }
    .timeline-tag5 {
      background-color: #F4D60D;
      h2, span {
        color: #38282C;
      }
    }
    .timeline-tag6 {
      background-color: #2A2B39;
      h2, span {
        color: #F4D60D;
      }
    }
    .timeline-tag7 {
      background-color: #693E3E;
      h2, span {
        color: #EEE;
      }
    }
  }

  .recent {
    width: 980px;
    font-size: 22px;

    h2 {
      position: relative;
      display: inline-block;
      font-size: 48px;
      line-height: 48px;
      margin: 0;
      top: 60px;
      left: -300px;
      -webkit-transform: rotate(270deg);
      -moz-transform: rotate(270deg);
      -o-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
      transform: rotate(270deg);
      -webkit-transform-origin: 100% 0;
      -moz-transform-origin: 100% 0;
      -o-transform-origin: 100% 0;
      -ms-transform-origin: 100% 0;
      transform-origin: 100% 0;
    }

    .recentPosts {
      position: relative;
      left: 48px;

      .recentPost {
        margin: 0;
      }

      .recentPost a {
        display: block;
        line-height: 22px;
        margin: 0;
        padding: 10px;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        -ms-transition: all 0.5s;
        transition: all 0.5s;
      }
      .recentPost a:hover {
        text-decoration: none;
        background: rgba(100, 100, 100, 0.5);
      }
    }
  }

}