@media (max-height: 320px) {

  .navbar-top,
  .home .navbar-top {
    width: 100px;

    .navbar-inner {
      border-width: 0;

      .navbar-container .nav {
        margin-top: 10px;

        > li {
          float: none;

          > a {
            margin: 0;
          }
        }
      }
    }
  }
  .page-container {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding-left: 100px;
  }

  .start {
    width: 380px;
    height: 480px;
    background-size: 380px 570px;
  }

}