---
layout: movie
title: Ant Man - 蚁人
tagline: 电影
header: Pages
group: navigation
description: 电影
---
{% include JB/setup %}

%img.logo{src: "/images/movies/ant-man-logo.jpg"}

.poster
  .movie-info
    .name
      Ant-Man
    .year
      July 17, 2015
    .tagline
      This July, heroes don't come any bigger.
