---
layout: movie
title: 电影
tagline: 电影
header: Pages
group: navigation
description: 电影
---
{% include JB/setup %}

%div.poster{style: "background-color: black;" + |
                   "background-image: url(/images/movies/ant-man.jpg);" + |
                   "position: absolute;" + |
                   "top: 0;" + |
                   "bottom: 0;" + |
                   "left: 0;" + |
                   "right: 0;" + |
                   "background-position: center;" + |
                   "background-size: cover;"} |
