---
name : style-menu.scss
---

@media (min-width: 569px) {

  .archives {
    position: relative;
    height: 500px;
  }

  .current-links {
    position: absolute;
    left: 150px;
    top: 0;
    font-size: 18px;

    .blog-link {
      padding: 5px 0;
    }
  }

  .archive-year {
    padding-left: 20px;

    .year a {
      padding-right: 10px;
      text-decoration: none;
    }
    .archive-months {
      display: none;
      right: 50px;
      bottom: 50px;
      position: absolute;
    }
    .archive-month {
      display: block;
      float: right;
      .month {
        display: inline-block;
        width: 100px;
        text-align: center;
        font-size: 16px;
        padding-top: 5px;

        a {
          text-decoration: none;
        }

        &.selected {
          border-top: 2px solid;
          -webkit-transition: all 0.3s ease-in-out;
          -moz-transition: all 0.3s ease-in-out;
          -o-transition: all 0.3s ease-in-out;
          -ms-transition: all 0.3s ease-in-out;
          transition: all 0.3s ease-in-out;
        }
      }
      .blog-links {
        display: none
      }
    }
  }

  .year-bar {
    width: 8px;
    height: 40px;
    background: #e36b23;
    position: absolute;
    top: 0px;
    left: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .archive-year:nth-child(1).selected~.year-bar { top: 0px; }
  .archive-year:nth-child(1):hover~.year-bar { top: 0px !important; }
  .archive-year:nth-child(2).selected~.year-bar { top: 50px; }
  .archive-year:nth-child(2):hover~.year-bar {top: 50px !important; }
  .archive-year:nth-child(3).selected~.year-bar { top: 100px; }
  .archive-year:nth-child(3):hover~.year-bar { top: 100px !important; }
  .archive-year:nth-child(4).selected~.year-bar { top: 150px; }
  .archive-year:nth-child(4):hover~.year-bar { top: 150px !important; }

  .month-bar {
    width: 100px;
    height: 5px;
    background: #e36b23;
    position: absolute;
    bottom: 0px;
    right: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }

  .archive-month:nth-child(1).selected~.month-bar { right: 0px; }
  .archive-month:nth-child(1):hover~.month-bar { right: 0px !important; }
  .archive-month:nth-child(2).selected~.month-bar { right: 100px; }
  .archive-month:nth-child(2):hover~.month-bar {right: 100px !important; }
  .archive-month:nth-child(3).selected~.month-bar { right: 200px; }
  .archive-month:nth-child(3):hover~.month-bar { right: 200px !important; }
  .archive-month:nth-child(4).selected~.month-bar { right: 300px; }
  .archive-month:nth-child(4):hover~.month-bar { right: 300px !important; }
  .archive-month:nth-child(5).selected~.month-bar { right: 400px; }
  .archive-month:nth-child(5):hover~.month-bar { right: 400px !important; }
  .archive-month:nth-child(6).selected~.month-bar { right: 500px; }
  .archive-month:nth-child(6):hover~.month-bar { right: 500px !important; }
  .archive-month:nth-child(7).selected~.month-bar { right: 600px; }
  .archive-month:nth-child(7):hover~.month-bar { right: 600px !important; }
  .archive-month:nth-child(8).selected~.month-bar { right: 700px; }
  .archive-month:nth-child(8):hover~.month-bar { right: 700px !important; }
  .archive-month:nth-child(9).selected~.month-bar { right: 800px; }
  .archive-month:nth-child(9):hover~.month-bar { right: 800px !important; }
  .archive-month:nth-child(10).selected~.month-bar { right: 900px; }
  .archive-month:nth-child(10):hover~.month-bar { right: 900px !important; }

}
