.socials {
  float: right;
  padding-top: 30px;
  padding-right: 10px;
}
.socials li {
  display: inline-block;
}
.page-container {
  margin-top: 60px;
  padding-top: 20px;
}
.start {
  margin-top: 60px;
  background: url(/images/site/fengzhichao-jumping.jpg) no-repeat center;
  height: 800px;
}
.welcome-message {
  padding-top: 300px;
  width: 940px;
  margin: 0 auto;
  color: black;
}
.timeline {
  width: 940px;
  margin: 50px auto;
}
.about {
  background: url(/images/site/my-macbook.jpg) no-repeat center;
  height: 800px;
}
.about-message {
  padding-top: 100px;
  padding-right: 50px;
  text-align: right;
  width: 940px;
  margin: 0 auto;
}
