---
name : style.scss
---

html {
  -webkit-font-smoothing: antialiased;
}

/* common */
footer p {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.slideshare iframe {
  height: 400px;
  width: 600px
}
.home .navbar-top {
  position: absolute;
  width: 980px;
  left: 50%;
  margin-left: -490px;
}
.navbar-top {
  margin-bottom: 0;
}
.navbar-top .navbar-inner {
  background-color: transparent;
  border: 0;

  .navbar-container {
    width: 940px;
    margin-right: auto;
    margin-left: auto;
    position: relative;

    &::after {
      display: table;
      content: "";
      line-height: 0;
      clear: both;
    }
  }

  .fancy-link-item-hidden {
    display: none;
  }

  .avatar {
    float: left;
    height: 60px;
    width: 60px;
    margin: 5px 20px;
    -webkit-border-radius: 30px;
    border-radius: 30px;

    &:hover {
      box-shadow: 0px 0px 20px 1px #e36b23;
    }
  }
  .brand {
    font-size: 22px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 70px;
  }
  .nav > li > a {
    font-size: 18px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 70px;
  }
  .socials {
    position: absolute;
    right: 10px;
    display: block;
    margin: 0 10px 0 0;
    list-style: none;

    .twitter {
      background: url({{ site.static_url }}/images/site/socials.png) -56px 0 no-repeat;
      &:hover {
        background-position: -56px -38px;
      }
    }
    .facebook {
      background: url({{ site.static_url }}/images/site/socials.png) 0 0 no-repeat;
      &:hover {
        background-position: 0 -38px;
      }
    }
    .github {
      background: url({{ site.static_url }}/images/site/socials.png) -28px 0 no-repeat;
      &:hover {
        background-position: -28px -38px;
      }
    }
    .youtube {
      background: url({{ site.static_url }}/images/site/socials.png) -84px 0 no-repeat;
      &:hover {
        background-position: -84px -38px;
      }
    }

    li {
      float: left;

      a {
        width: 28px;
        height: 28px;
        margin: 21px 6px 6px 0;
        display: block;
        text-indent: -9999px;
        background-position: 0 0px;
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        -ms-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

/* index page */
.hero-box {
  .hero-box-inner {
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    font-size: 18px;
  }
}
.start {
  background: url({{ site.static_url }}/images/site/fengzhichao-jumping.jpg) no-repeat center;
  height: 800px;

  .start-inner {
    width: 45%;
    display: inline-block;
    padding: 10px 0;
    margin: 300px auto 0px;
    background: rgba(100, 100, 100, .3);

    .welcome-message {
      display: inline-block;
      float: right;
      margin-right: 30px;
      color: #e36b23;
      text-align: right;
      font-size: 18px;
    }
  }

}
.timeline {
  margin: 20px auto;
}
.about {
  background: url({{ site.static_url }}/images/site/my-macbook.jpg) no-repeat center;
  height: 800px;

  .about-message {
    display: inline-block;
    padding: 10px 30px;
    text-align: right;
    margin: 100px 50px 0 auto;
    background: rgba(50, 50, 50, .4);
    float: right;
  }
}

/* index page */
.blog-container {
  width: 940px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10px;

  p {
    line-height: 24px;
    font-size: 16px;
  }

  &::after {
    clear: both;
    display: table;
    content: "";
    line-height: 0;
  }

  .blog-container-inner {
    margin-left: 20px;

    .article {
      margin-bottom: 40px;
      border-top: 3px dotted #e36b23;

      .author {
        font-family: 'Ubuntu', Tahoma, sans-serif;
      }
    }
  }

  .blog-header {
    margin-bottom: 20px;
  }
  .blog-metadata {
    float: right;
    width: 280px;
    margin-left: 20px;
  }
  .blog-content {
    float: left;
    width: 620px;
    margin-left: 0;
  }
}

/* photo page */
.photo {
  margin-top: 20px;

  .item {
    width: 140px;
    .thumbnail {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
.modal {
  top: 10%;
  left: 50%;
  margin: 0 0 0 -280px;
  .modal-body {
    max-height: none;
  }
}
/* tags */
.tag_box.inline {
  list-style: none outside none;
  li {
    float: left;
    margin:0 8px 8px 0;
    padding: 0;

    a {
      padding: 3px 6px;
      color: #ece9d7;
      background: #45515f;
      border-radius: 3px;
      text-decoration: none;

      span {
        vertical-align: super;
        font-size: 0.8em;
      }
    }
  }
}
