---
name : style-folding-fan.scss
---

.nav,
.navbar,
footer,
.start,
.about {
  // display: none;
}
.timeline-inner {
  position: relative;
  height: 350px;
}
.timeline-tag {
  height: 400px;
  width: 300px;
  position: absolute;
  left: 50%;
  text-align: center;
  box-sizing: border-box;
  padding: 30px;
  box-shadow: 0 0 50px 1px black;

  h2 {
    margin-bottom: 30px;
  }
}
.about {
  position: relative;
  z-index: 9999;
}

@mixin folding-fan($alpha) {
  $x: 800 * sin($alpha);
  $y: 800 * cos($alpha);

  transform: rotate(#{$alpha});
  -moz-transform:rotate(#{$alpha});
  -webkit-transform:rotate(#{$alpha});

  margin-left: #{-200 + $x}px;
  top: #{800 - $y}px;
  z-index: floor($y);
}

.timeline-tag0 {
  @include folding-fan(0deg);
  background-color: #3bc1ed;
}
.timeline-tag1 {
  @include folding-fan(10deg);
  background-color: #ed673b;
}
.timeline-tag2 {
  @include folding-fan(20deg);
  background-color: #3bed67;
}
.timeline-tag3 {
  @include folding-fan(30deg);
  background-color: #ed3b68;
}
.timeline-tag4 {
  @include folding-fan(40deg);
  background-color: #ed3bc1;
}
.timeline-tag5 {
  @include folding-fan(350deg);
  background-color: #c1ed3b;
}
.timeline-tag6 {
  @include folding-fan(340deg);
  background-color: #3b68ed;
}
.timeline-tag7 {
  @include folding-fan(330deg);
  background-color: #edc03b;
}
.timeline-tag8 {
  @include folding-fan(320deg);
  background-color: #edc03b;
}
