.page-container {
  margin-top: 71px;
}
.start {
  background: url(/images/site/fengzhichao-jumping.jpg) no-repeat center;
  height: 800px;
}
.welcome-message {
  padding-top: 300px;
  margin: 0 auto;
  color: black;
}
.timeline {
  margin: 50px auto;
}
.about {
  background: url(/images/site/my-macbook.jpg) no-repeat center;
  height: 800px;
}
.about-message {
  padding-top: 100px;
  padding-right: 50px;
  text-align: right;
  margin: 0 auto;
}
.center-text {
  text-align: center;
}
.photo {
  margin-top: 20px;
}

@media (max-device-width: 320px) {
  img, object {
    max-width: 320px;
  }
  .navbar-fixed-top .container,
  .container,
  .span12 {
    width: 100%;
    margin: 0;
  }
  .row {
    margin: 0;
  }
  .span2, .span8, .span4 {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .span2 img {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar-inner {
    min-height: 40px
  }
  .navbar .brand {
    font-size: 22px;
    padding-top: 8px;
    padding-bottom: 2px;
  }
  .navbar .nav > li > a {
    font-size: 18px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: normal;
  }
  .page-container {
    margin-top: 41px;
    word-wrap: break-word;
    overflow: hidden;
  }
  .page-container h1 {
    font-size: 28px;
    line-height: 32px;
  }
  .page-container h2 {
    font-size: 22px;
    line-height: 28px;
  }
  .start {
    height: 480px;
  }
  .timeline {
    margin: 10px auto;
  }
  .about {
    height: 480px;
  }
  .thumbnails {
    margin: 10px 0;
  }
  .thumbnails > li {
    float: none;
    margin-right: auto;
    margin-left: auto;
  }
  .thumbnails > li a {
    display: block;
    text-align: center;
  }
  .page-header {
    padding-bottom: 0;
    margin: 31px 0 10px;
  }
}
