<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">

  {% if page.type == 'post' %}
    <title>博客文章 - 前端开发 - 冯智超的个人网站 Feng Zhichao</title>
    <meta name="description" content="{{ page.title }}">
  {% else %}
    <title>{{ page.title }} - 前端开发 - 冯智超的个人网站 Feng Zhichao</title>
    <meta name="description" content="{{ page.description }}">
  {% endif %}

  <meta name="author" content="{{ site.author.name }}">
  <meta name="google-site-verification" content="12krOD__WVZXDs1JQyyImb-VsplI_cESnn4amt8h0zQ" />

  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black" />
  <meta name="apple-mobile-web-app-title" content="超级无敌">
  <link rel="apple-touch-icon" href="/images/site/chaojiwudi.png" />

  <link href="{{ BASE_PATH }}/atom.xml" rel="alternate" type="application/atom+xml" title="www.chaojiwudi.com ATOM Feed"/>

  {% css_asset_tag application %}
  - /assets/css/bootstrap.css
  - /assets/css/style.scss
  - /assets/css/style-desktop.scss
  - /assets/css/style-iphone.scss
  - /assets/css/style-iphone-landscape.scss
  - /assets/css/style-menu.scss
  {% endcss_asset_tag %}

  {% javascript_asset_tag application %}
  - /assets/javascripts/jquery-1.7.2.min.js
  - /assets/javascripts/bootstrap-tooltip.js
  - /assets/javascripts/bootstrap-modal.js
  - /assets/javascripts/folding-fan.js
  {% endjavascript_asset_tag %}

  <!-- Le fav and touch icons -->
  <!-- Update these with your own images
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">
  -->
</head>
<body class="{{ page.type }}">
  <div class="body-container">
    {% include views/navbar.html %}

    {{ content }}
  </div>
  {% include JB/analytics %}
</body>
</html>
